PORT=2020
NODE_ENV=production

# Banco de Dados PostgreSQL (Altere com suas credenciais na VPS)
DATABASE_URL=postgres://usuario:senha@seu-host:4264/nome_banco?sslmode=disable
DB_PORT=4264
SALT=seu_salt_secreto_aqui

# URL Unificada (Auth, Website, Admin e Download)
SITE_URL=https://tibiaonline.klyraai.com.br
TARGET_GAME_URL=https://stonegy-online.com

# Chave de Administração
ADMIN_KEY=seu_codigo_admin_aqui
