PORT=3333
NODE_ENV=production

# Banco de Dados PostgreSQL (Altere com suas credenciais na VPS)
DATABASE_URL=postgres://usuario:senha@seu-host:4264/nome_banco?sslmode=disable
DB_PORT=4264
SALT=seu_salt_secreto_aqui

# Auth API (Servidor de Autenticação)
AUTH_URL=https://authtibia.klyraai.com.br
AUTH_PORT=3333

# Website Hub & Atualizações
WEBSITE_URL=https://tibiaonline.dialogy.klyraai.com.br
WEBSITE_PORT=3333

# Jogo Alvo (Stonegy Online)
TARGET_GAME_URL=https://stonegy-online.com
TARGET_GAME_PORT=443

# Chave de Administração
ADMIN_KEY=seu_codigo_admin_aqui
