# Arquivos de Variáveis de Ambiente e Segredos
.env
.env*.local
.env.production
.env.development
.env.test

# Node & Build
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
